.chat {
  /* flex: 1; */
  /* display: flex; */
  flex-direction: column;
  /* min-height: 100%; */
}

.chatheader {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.chatheader > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.chatheaderinfo {
  flex: 1;
  margin-left: 15px;
  padding: 5px;
}

.chatheaderinfo > p {
  color: gray;
  /* margin-top: 1px; */
  font-size: x-small;
}

.chatbody {
  /* flex: 1; */

  background-color: white;
  padding: 15px;

  margin-bottom: 30px;
  margin-top: 7%;
}

.chat_message {
  direction: rtl;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  margin-bottom: 15px;
}

.chat_reciver {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 15px;
}

.chat-section {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.contentMessage {
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  padding: 0 10px;
  direction: ltr;
}
.contentMessage pre {
  font-size: 16px;
  /* padding: -2px; */
}
.timeMessage {
  font-size: 13px;
  color: gray;
  font-style: italic;
}
.usernameMessage {
  font-size: 20px;
  color: black;
}

.LinkAttach {
  font-weight: bold;
  font-style: italic;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
  margin: 10px;
}
.LinkAttach:hover {
  color: white;
  background-color: #3482ba;
  transition: 1s;
}
/* .chatfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 14px;
  padding: 20px;
  border-top: 1px solid lightgray;
  position: fixed;
  bottom: 0;
  /* width: 80%; 
  background-color: #f6f6f6;
} 
*/
.chatfooterWithoutDrawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  height: 14px;
  padding: 20px;
  border-top: 1px solid lightgray;
  position: fixed;
  bottom: 0;
  /* width: 80%; */
  background-color: #f6f6f6;
  width: 98%;
}
.chatfooterWithDrawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  height: 14px;
  padding: 20px;
  border-top: 1px solid lightgray;
  position: fixed;
  bottom: 0;
  background-color: #f6f6f6;
  width: 80%;
}
.formFooter {
  /* flex: 15; */
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* @media (max-width: 1559px) {
  .chatfooterWithDrawer {
    width: 78%;
  }
}

@media (max-width: 1400px) {
  .chatfooterWithDrawer {
    width: 75%;
  }
} */

/* @media (max-width: 1250px) {
  .chatfooterWithDrawer {
    width: 72%;
  }
}

@media (max-width: 1105px) {
  .chatfooterWithDrawer {
    width: 70%;
  }
} */
